* {
    margin: 0;
    padding: 0;
}

body {
    
    background-image: url('tapeta_weed_1920_1080.jpg'); /* Replace with the path to the generated background */
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    margin: 0;
    padding: 0;
    }

header {
    text-align: center;
    padding: 0px;
}
/*
    background-color: grey;
    
*/

header img {
    width: 20%;
    margin: 0;
    
    }

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    
    width: 70%;
    background-color: rgba(49, 53 ,62);
    border: 2px solid red;
    text-align: center;
    margin: 0 15%;
}
.title p {
    font-family: sans-serif;
    font-size: 20px;
    color: white;
}

.left, .right {
    display: flex;
    flex-direction: column;
}
.left p, .right p {
    margin: 10px 0;
}

nav {
    width: 70%;
    margin: 0 15%;
    background-color: #444;
    padding: 0px;
    line-height: 300%;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    }

nav ul li {
    display: inline;
    margin-right: 20px;
/*    width: 15%;*/
    }

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
    background-color: rgb(49, 53,62);
    display: inline-block;
    width: 20%;
    
    }

section {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    border: 1px solid green;
    }
h1 {
    text-align: center;
    color: white;
    
}

.product {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
/*    width: 50%;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    }

footer {
    text-align: center;
    padding: 10px;
    background-color: limegreen;
    color: white;
    font-size: 30px;
    }

iframe {
    width: 50%;
    text-align: center;
    margin: 0 25%;
}