* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('tapeta_weed_1920_1080_2a.jpg');
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    }

/*
header {
    text-align: center;
}
*/

header img {
    width: 30%;
    margin: 0;
    opacity: 0.8;
    
    
    }

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    background-color: rgba(49, 53, 62, 0.1);
    text-align: center;
    margin: 0 10%;
}
.title p {
    font-family: sans-serif;
    font-size: 18px;
    color: white;
/*    background-color: rgba(255, 255, 255, 0.8);*/
    background-color: rgba(49, 53, 62, 0.1);
}

.left, .right {
    display: flex;
    flex-direction: column;
    width: 20%
}
.left p, .right p {
/*    margin: 10px 0;*/
    text-align: center;
    margin: 0;
}

nav {
    width: 80%;
    margin: 0 10%;
/*    background-color: #444;*/
    background-color: rgba(49, 53, 62, 0.1);
    padding: 0px;
    line-height: 200%;
    }

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    }

nav ul li {
    padding: 0;
    display: inline;
    margin: 0;
/*    width: 15%;*/
    }

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
/*    background-color: limegreen;*/
    background-color: rgba(49, 53, 62, 0.7);
    display: inline-block;
    width: 49%;
    
    }

section {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    padding: 0px;
    border: 1px solid green;
    }
h1 {
    text-align: center;
    color: white;
    
}

.product {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
/*    width: 50%;*/
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block;
    width: 45%;
}
.product img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
    }

footer {
    text-align: center;
    padding: 10px;
    background-color: limegreen;
    color: white;
    font-size: 30px;
    }

iframe {
    width: 70%;
/*    text-align: center;*/
    
}

.contact-link {
    text-align: center; /* Center the link */
    margin-top: 20px;   /* Add some space above the link */
}

.contact-link a {
    text-decoration: none; /* Remove underline */
    color: #0088cc;        /* Telegram blue color */
    font-size: 18px;       /* Adjust font size */
    font-family: Arial, sans-serif; /* Set font */
    display: inline-flex;  /* Align icon and text */
    align-items: center;   /* Vertically align icon and text */
}

.contact-link a:hover {
    color: #006699;        /* Darken color on hover */
}

.contact-link img {
    width: 24px;           /* Set icon size */
    height: auto;          /* Maintain aspect ratio */
    margin-right: 8px;     /* Add space between icon and text */
}